
<mat-grid-list cols="1" rowHeight="8:1" class="room-grid">
    <mat-grid-tile rowspan ="2">
        <h1 class="my-reservations-heading">Moje Rezerwacje</h1>
    </mat-grid-tile>
    <ng-container *ngFor="let opinion of selectedRoomsTable">
        <mat-grid-tile>
          <mat-card class="reservation">
            
            <mat-card-content>
                <img mat-card-image src="https://via.placeholder.com/150" alt="Example Image">
              {{ opinion.name }}  {{ opinion.cena }}
            </mat-card-content>
            <mat-card-actions>
            
                    <button mat-button color="primary" (click)="deleteReservation(opinion)" [ngStyle]="{ 'background-color': 'red' }">Usuń rezerwację</button>
                    <button mat-button color="primary" (click)="editReservation(opinion)" [ngStyle]="{ 'background-color': 'cyan' }">Edytuj rezerwację</button>
                
                
            </mat-card-actions>
          </mat-card>
          
        </mat-grid-tile>
      </ng-container>
  </mat-grid-list>
  
  <mat-paginator [length]="selectedRooms.length" [pageSize]="3" [pageSizeOptions]="[3, 6, 9]"
                (page)="onPageChange($event)"></mat-paginator>
                
                
                
                
                