
  
  <p class="left-align">
    <mat-toolbar>
      <ul>
      <span>My Application</span>
      <div class="example-button-row">
        <a routerLink="/"> <button mat-button color="primary">Strona główna</button> </a>
        <a routerLink="/register"><button mat-button color="primary">Zarejestruj sie</button></a>
        <a routerLink="/login"><button mat-button color="primary">Zaloguj sie</button></a>
        <a routerLink="/profile"><button mat-button color="primary">Mój profil</button></a>
        <!-- <a routerLink="/rooms"><button mat-button color="primary">Pokoje</button></a> -->
        <a routerLink="/places"><button mat-button color="primary">Wyszukaj nocleg</button></a>
        <a routerLink="/places/my"><button mat-button color="primary">Moje obiekty</button></a>
        <a routerLink="/reservations"><button mat-button color="primary">Moje rezerwacje</button></a>
        
      </div> 
      </ul>
    </mat-toolbar>
    
  </p>
  
    
  