<div style="align-items: center;" class="container">
  <h1 >Creating Place</h1>
  <form [formGroup]="placeForm">
    <div class="container">
      <div class="example-container">
    

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-select-trigger>
              {{ placeForm.get("category")?.value! || "" }}
            </mat-select-trigger>
            <mat-option *ngFor="let cat of categories" [value]="cat">{{
              cat
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="example-container">
        <mat-form-field>
          <mat-label>City</mat-label>
          <input matInput formControlName="city" placeholder="City" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Building</mat-label>
          <input matInput formControlName="building" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Street</mat-label>
          <input matInput formControlName="street" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Voivodeship</mat-label>
          <mat-select formControlName="voivodeship">
            <mat-select-trigger>
              {{ placeForm.get("voivodeship")?.value! || "" }}
            </mat-select-trigger>
            <mat-option *ngFor="let v of voivodeships" [value]="v">{{
              v
            }}</mat-option>
          </mat-select>
        </mat-form-field>
  
      </div>

      <mat-form-field style="width: 50%;"  >
        <mat-label>Description</mat-label>
        <textarea  matInput formControlName="description" name="text"></textarea>
      </mat-form-field>
    </div>
  </form>
  <div>
    <h3>Gallery:</h3>
    <div *ngIf="imageUrls.length > 0" class="image-container">
      <div *ngFor="let imageUrl of imageUrls; let i = index">
        <img [src]="imageUrl" alt="Accomodation Image" />
        <button mat-icon-button (click)="removeImageUrl(i)">
          <!-- <mat-icon>delete</mat-icon> -->
        </button>
      </div>
    </div>
  </div>

  <!-- <input matInput placeholder="Nowy URL zdjęcia" /> -->
  <!-- <button mat-raised-button color="primary" (click)="addImageUrl()"> -->
   <!-- Add picture -->
  <!-- </button> -->
  <input type="file" (change)="onFileChanged($event)" multiple />
<!-- <button (click)="onUpload()">Upload</button> -->

  <!-- <input class="ng-hide" id="input-file-id" multiple type="file" /> -->
  <!-- <label for="input-file-id" class="md-button md-raised md-primary"></label> -->
</div>
<div>
  <h1>Rooms</h1>
  
  <form [formGroup]="roomForm">
    <div class="container">
      <div class="example-container">

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Capacity</mat-label>
          <input matInput formControlName="capacity" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Price per night</mat-label>
          <input matInput formControlName="pricePerNight" />
        </mat-form-field>
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select formControlName="state">
          <mat-select-trigger>
            {{ roomForm.get("state")?.value! || "" }}
          </mat-select-trigger>
          <mat-option *ngFor="let st of states" [value]="st">{{
            st
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Facilities</mat-label>
        <mat-select formControlName="facilities" multiple>
          <mat-select-trigger>
            {{ roomForm.get("facilities")?.value! || "" }}
          </mat-select-trigger>
          <mat-option *ngFor="let fac of possibleFacilities; track fac" [value]="fac">{{
            fac
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      </div>
      <mat-form-field style="width: 25%;"  >
        <mat-label>Description</mat-label>
        <textarea  matInput formControlName="description" name="text"></textarea>
      </mat-form-field>
    </div>

  </form>
</div>
<button style="margin-left:10px" mat-raised-button color="primary" (click)="onSubmit()"> Submit </button>
<button style="margin-left:10px" mat-raised-button color="primary" (click)="addRoom()">Add room</button>
<button style="margin-left:10px" mat-raised-button color="warn" (click)="clearRooms()">Clear rooms</button>
<div *ngIf="rooms.length > 0">
  <table mat-table [dataSource]="rooms" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef>People</th>
      <td mat-cell *matCellDef="let element">{{ element.capacity }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="pricePerNight">
      <th mat-header-cell *matHeaderCellDef>Price per night</th>
      <td mat-cell *matCellDef="let element">{{ element.pricePerNight }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="facilities">
      <th mat-header-cell *matHeaderCellDef>Facilities</th>
      <td mat-cell *matCellDef="let element">{{getFacilities(element.facilities)}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="removeRoom(element)">Delete room</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
