<h1 style="margin-left:15px;margin-bottom:15px;margin-right:15px">Reviews</h1>
<h3 style="margin-left:15px;margin-right:15px" *ngIf="reviews.length <1 ">No reviews yet</h3>
<div style="margin-left:15px;margin-right:15px" class="container">
    <ng-container *ngFor="let opinion of reviews">
      <mat-divider></mat-divider>
      <mat-card class="review">
        <mat-card-content>
          <div class="rating">
            <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
              <i class="material-icons">{{
                i <= opinion.rating ? "star" : "star_border"
              }}</i>
            </ng-container>
          </div>
          <strong>{{ opinion.author }}</strong
          >: {{ opinion.content }}
        </mat-card-content>
      </mat-card>
      <mat-divider></mat-divider>
    </ng-container>
  </div>
  <!-- <div class="column">
    <form (ngSubmit)="submitReview()">
      <div>
        <mat-form-field style="width: 100%">
          <mat-label>Review</mat-label>
          <textarea matInput [formControl]="content" name="text"></textarea>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Rating</mat-label>
          <mat-select [formControl]="rating" name="rating">
            <mat-option *ngFor="let i of [1, 2, 3, 4, 5]" [value]="i">{{
              i
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary">Add</button>
    </form>
  </div>
  <div class="column2">
</div> -->
