mat-grid-tile {
    background: lightcyan;
}
mat-grid-list{
    width: 700;
}
.example-card {
    width: 40%;
    height: 650px;
    float: right; 
    margin-right: 100px;
    margin-top: 100px;
  }
  .reviewed {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review {
    width: 85%;
    height: 150px;
  }
  .rating {
    font-size: 20px; 
    color: gold;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .container {
      display: flex;
    }
    .column {
      flex: 1; 
      padding: 20px;
      border: 1px solid #ccc;
    }
    .rating{
      color: gold;
    }