<app-search></app-search>
<div class="container">
    <app-filtry></app-filtry>
    <div class="card-container">
      <app-accomodation-card></app-accomodation-card>
      <mat-divider></mat-divider>
      <app-accomodation-card [imageUrl]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"></app-accomodation-card>
      <mat-divider></mat-divider>
      <app-accomodation-card [imageUrl]="'https://material.angular.io/assets/img/examples/shiba2.jpg'"></app-accomodation-card>
    </div>
  </div>
  