
mat-grid-tile {
   
    background: lightcyan;
  }

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.example-container {
    width: 300px; 
    padding-top: 10px;
}
.example-button-row{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-bottom: 10px;
}
mat-form-field {
    width: 100%;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .image-container img {
    width: 100px; 
    height: auto;
    margin: 5px;
  }