<div class="ustawienia">
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mój Profil</mat-card-title>
      
    </mat-card-header>
   
    <mat-card-content>
     
    </mat-card-content>
    <mat-card-actions class = "button-container">
        <div class="button">
            <a routerLink=""><button mat-raised-button color="primary">Szczegoly Konta</button></a>
        </div>
        <div class="button" >
            <a routerLink="/accomodation/create"><button mat-raised-button color="primary">Dodaj obiekt</button></a>
        </div>
        <div class="button" >
            <a routerLink="/room/create"><button mat-raised-button color="primary">Dodaj Pokój</button></a>
        </div>
        <div class="button" >
            <a routerLink=""><button mat-raised-button color="primary">Zmień hasło</button></a>
        </div>
        
      
    </mat-card-actions>   
  </mat-card>
</div>
